{
  "swagger": "2.0",
  "info": {
    "title": "Scraping",
    "description": "This is my scraping API, used to harvest content from websites.",
    "termsOfService": "http://kinlane.com/terms-of-service.html",
    "version": "v1"
  },
  "host": "api.api.kinlane.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "produces": [
    "apilication/json"
  ],
  "paths": {
    "/parse-remote-html-form/": {
      "get": {
        "summary": "parse remote html form",
        "description": "parse remote html form",
        "operationId": "parseRemoteHTMLForm",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "target",
            "in": "query",
            "description": "the target url",
            "required": true,
            "type": "string"
          },
          {
            "name": "referrer",
            "in": "query",
            "description": "referrer to show",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Parse Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/form"
              }
            }
          }
        },
        "tags": [
          "API"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "appid": {
      "type": "apiKey",
      "name": "appid",
      "in": "query"
    },
    "appkey": {
      "type": "apiKey",
      "name": "appkey",
      "in": "query"
    }
  },
  "definitions": {
    "form": {
      "properties": {
        "action": {
          "description": "action for the form",
          "type": "string"
        },
        "method": {
          "description": "method for the form",
          "type": "string"
        },
        "name": {
          "description": "name for the form",
          "type": "string"
        },
        "selects": {
          "description": "select fields",
          "type": "string"
        },
        "inputs": {
          "description": "input fields",
          "type": "string"
        }
      }
    }
  }
}
